@font-face {
  font-family: "playfair";
  src: url(../font/PlayfairDisplay-Regular.ttf);
}
* {
  font-family: "playfair";
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  letter-spacing: 0.3rem;
}
#headerImg {
  background-image: url(../img/hamburger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 91vh;
  display: flex;
  align-items: flex-end;
}
#headerImg h1 {
  margin: 2rem;
  color: #555d60;
  font-weight: 100;
  letter-spacing: 0.2rem;
}
#about, #menu{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2rem auto;
}
#about > div {
  width: 48%;
}
#about img, #menu img{
  width: 100%;
}
#about h2,
#about h3, #menu h2 {
  text-align: center;
}
#about p:last-child {
  color: #555d60;
}
.badge {
  background-color: #f1f1f1;
  padding: 0.2rem;
}
#menu p, #contact p{
  color: #555d60;
  font-size: 0.7rem;
}
#contact{
  width: 80%;
  margin: 2rem auto;
}
#contact .adresse{
  color:#555d60;
  font-weight: 600;
}
#contact input{
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.05rem #555d60 solid;
  margin: 0.5rem 0;
  padding: 0.05rem;
}
#contact .formBtn{
  border: none;
  width: fit-content;
}
#footer{
  display: flex;
  justify-content: center;
  background-color:#0000000e;
  padding: 2rem 0;
}